#navbar.navbar-collapse.collapse.clearfix
    ul.nav.navbar-nav.pull-right
        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | Управление пользователем 
                span.caret
            ul.dropdown-menu(role='menu')
                if login
                    li
                        a(href='/user/profile') Профиль
                    li.divider
                    li
                        a(href='/user/logout') Выйти
                else
                    li
                        a(href='/user/signup') Регистрация
                    li.divider
                    li
                        a(href='/user/signin') Войти
        li.active
            a(href='/cart/checkout/') 
                | Корзина &nbsp;
                if session.cart
                    span.badge #{session.cart.totalQty}