extends layouts/default

block content
  .row
    .col-sm-12.col-md-4
      include partials/navigation
      if filters
        include partials/filter
    .col-sm-12.col-md-8
      h1 #{catalog_active.name}
      .row
        .col-sm-6.col-md-6
          #success.alert.alert-success(class=(noMessage ? "hidden" : ""))
            | #{successMsg}

      if withProducts  
        each chunk in product_chunks
          .row
            each product in chunk
              include partials/goods_preview
      else if catalog_active.childs.length
        - for (var i = 0; i < catalog_active.childs.length; i+=3)
          .row
            each catalog in catalog_active.childs.slice(i, i + 3)
              include partials/catalog_preview
      else
        p Товаров нет.