extends ../layouts/default

block content
    h1 Корзина
    if products
        include products
        hr
        include form     
    else
        .row
            .col-sm-12.col-md-12
                p Корзина пуста

