.row
    .col-sm-12.col-md-12
        table.table
            th.text-left Название
            th.text-center(style='width: 10%') 
            th.text-center(style='width: 10%') Цена
            th.text-center(style='width: 10%') Количество
            each product in products
                tr                        
                    td.text-left(style='font-weight: bold') #{product.item.title}
                    td.text-center
                        .btn-group
                            button.btn.btn-primary.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                | Действия 
                                span.caret
                            ul.dropdown-menu
                                li
                                a(href='#') Уменьшить на 1
                                li
                                a(href='#') Удалить
                    td.text-center
                        span.label.label-success #{product.price} $
                    td.text-center
                        span.badge #{product.qty}
             tr
                td.text-right(colspan="4")
                    strong Итого: #{cart.totalPrice} $  
